h3 Gerenciar Subcategorias
hr

.panel.panel-default
	.panel-heading Cadastro de Subcategoria
	.panel-body
		form.form-horizontal(role='form', name='formulario', ng-submit='cadastrarSubcategoria(subcategoria)')
			.form-group
				label.col-md-3.col-sm-5.control-label(for='nome-subcategoria') Nome da Subcategoria:
					span.obrigatorio(tooltip='Campo obrigatório')  *
				.col-md-4.col-sm-6
					input#nome-subcategoria.form-control(type='text', pattern=".{1,40}", title="O nome da subcategoria deve conter 1 a 40 caracteres.", placeholder='Nome da Subcategoria', ng-model='subcategoria.nome', required)
			.form-group
				label.col-md-3.col-sm-5.control-label(for='categoria') Categoria:
					span.obrigatorio(tooltip='Campo obrigatório')  *
				.col-md-4.col-sm-6
					select#categoria.form-control(ng-model='subcategoria.categoria', ng-options='categoria._id as categoria.nome for categoria in categorias | filter:{ativa:"true"}', required)
						option(value="") Escolha uma opção...
			.form-group
				.col-md-offset-4.col-sm-offset-7
					button.btn.btn-default(type='submit') 
						span.fa.fa-plus
						|  Cadastrar Subcategoria
		small
			span.obrigatorio * 
			|  Campos que são obrigatórios.

h4 Lista de Subcategorias

.well(ng-if='subcategorias.length == 0')
	p Nenhuma subcategoria foi cadastrada até este momento...

table.table.table-striped.table-hover(ng-table="tableSubcategorias", ng-show='subcategorias.length > 0')
	tr(ng-repeat='subcategoria in $data')
		td(data-title="'Nome'") {{subcategoria.nome}}
		td(data-title="'Data de Criação'") {{subcategoria.data}}
		td(data-title="'Criador'") {{subcategoria.criador.nome}}
		td(data-title="'Ativa'")
			span(ng-if='subcategoria.ativa') Sim
			span(ng-if='!subcategoria.ativa') Não
		td(data-title="'Ações'")
			.btn-group
				button.btn.btn-default.dropdown-toggle.btn-sm(type='button', data-toggle='dropdown', aria-expanded='false')
					| Ações 
					span.caret
				ul.dropdown-menu(role='menu')
					li.clickable(ng-if='subcategoria.ativa')
						a(ng-click='desativarSubcategoria(subcategoria._id)') 
							span.fa.fa-stop
							|  Desativar
					li.clickable(ng-if='!subcategoria.ativa')
						a(ng-click='ativarSubcategoria(subcategoria._id)') 
							span.fa.fa-play
							|  Ativar
