h1 
    span.fa.fa-group
    |  Ranking
    small  Usuários
hr

ol.breadcrumb
    li
        a(href='/#/') 
            span.fa.fa-home
            |  Início
    li.active
        span.fa.fa-user 
        |  Ranking Usuários

.panel.panel-default(ng-if='ranking.estrelas.length == 0')
    .panel-heading Usuários não foram ranqueados
    .panel-body
        .lead Nenhum usuário foi classificado até o momento.

.panel.panel-default(ng-if='ranking.estrelas.length > 0')
    .panel-heading Os 10 melhores usuários
    .panel-body
        .lead 
            span.fa.fa-user
            |  Os usuários que mais colaboram e que apresentam melhores classificações:
        table.table.table-striped.table-hover.table-bordered
            thead
                tr
                    th Colocação
                    th Nome
                    th(title='Número de usuários que classificaram este tutorial.') Classificações
                    th(title='Média de estrelas adquiridas na classificação.') Média de Estrelas
            tbody
                tr(ng-repeat='ranking in ranking.estrelas')
                    td {{$index + 1}}°
                    td 
                        a.clickable(ng-click='informacoesUsuario(ranking.autor._id)')
                            | {{ranking.autor.nome}}
                    td {{ranking.classificacoes}}
                    td 
                        rating(ng-model='ranking.mediaNotas', max='5', readonly='true', tooltip='Quantidade de estrelas', disabled)                        }
